:host {
    .chat-container {
        width: 100%;
        height: 100%;
        overflow-y: scroll; 
    }
    .users-list {
        max-width: 350px !important;
        overflow-y: scroll;
        max-height: calc(90vh - 5px);
    }

    .chat-box { 
        min-height: 400px;
        max-height: 75vh;
    }
    .search {
        position: sticky;
    }

    .search-input {
        border: 1px solid transparent;
        border-radius: 25px;
        border-color: gray;
        width: 90%;
        max-width: 300px;
        height: 32px;
        font-weight: lighter;
        outline-width: 0px;

        .mat-form-field {
            input,
            ::placeholder,
            .mat-form-field-label {
                margin-left: 10px;
            }
        }
    }

    .search-icon {
        position: absolute;
        left: 320px;
        color: gray;
        margin-top: 5px;
    }

    .img-circle {
        border-radius: 100%;
        margin-right: 10px; 
    }

    .messages-container {
        max-height: 95vh;
    }

    .text-success {
        color:#06d79c ;
    }

    .divider {
        height: 80vh;
    }

    .toolbar {
        background-color: #3f51b5;
        color: white;
        // position: fixed;
    }

    .message {
        height: fit-content;
    }

    .text-user{
        color: #99abb4;
    }
    
    .text-image {
        margin-bottom: 30px;

    }

    .text {
        color: #263238;
    }

    .text-card {
        background: #f6f6f6;
    }

    .text-card-received {
        background: #cfecfe;
    }

    .text-time {
        width: 40px;
        font-size: 13px;
        color: #99abb4;
    }

    .chat-box {
        overflow-y: scroll;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .pt {
        margin-bottom: 0px;
    }

    .send-form {
        margin-top: 20px;
        margin-left: 10px;
    }

    .mat-form-field {
        width: 45vw;
    }

    .user-divider {
        max-width: 300px;
    }

    .admin {
        background:#f9e7eb;
    }

    @media(max-width: 1030px) {
        .search-icon {
           left: 30vw; 
        }
    }

    ::-webkit-scrollbar {
        width: 5px;
      }

}