:host {
    .historic-container {
        padding: 20px;
        overflow-y: scroll;
    }
    
    .historic-menu{ 
        position: absolute;
        top: 20px;
        right: 40px;
    }
    
    
}